<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atras"></ion-back-button>
    </ion-buttons>
    <ion-title>Popover</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover()" color="warning">
        <ion-icon slot="icon-only" name='menu-outline'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button (click)="presentPopover()" expand="block">
    Mostrar Popover
  </ion-button>
</ion-content>
